name: Python package

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox-gh-actions

    - name: Test with tox
      run: tox

    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

  matrix:
    python-version: ["3.8", "3.8", "3.8", "3.8", "pypy-3.6"]
    include:
      - python-version: "3.8"
        django-version: "2.2"
      - python-version: "3.8"
        django-version: "3.0"
      - python-version: "3.8"
        django-version: "3.1"
      - python-version: "3.8"
        django-version: "main"
    exclude:
      - python-version: "3.8"
        django-version: "3.0"
      - python-version: "3.8"
        django-version: "3.1"
      - python-version: "3.8"
        django-version: "main"
