name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 10

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install flake8
      run: pip install flake8

    - name: Lint with flake8
      run: flake8 --ignore=W191,E128,E501,E722 . --exit-zero

    # PEP8 :- IGNORE CODES
    # W191 : indentation contains tabs
    # E128 : continuation line under-indented for visual indent
    # E501 : line too long (> 79 characters)
    # E722 : do not use bare 'except'

