name: Python application

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install black flake8
        pip install -r requirements.txt

    - name: Lint with flake8
      run: flake8 --statistics --count

    - name: Check with black
      run: black --check --diff --target-version py38 .

    - name: Run the application
      run: python random_street_view.py --help

