name: Python package

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8, 3.8, 3.8, 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install wheel coverage codecov pytest pytest-mock
        pip install -r requirements.txt
        python setup.py develop

    - name: Test with pytest
      run: |
        coverage run -m pytest -v tests/
        codecov

    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: $HOME/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: End-of-Code
