name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox
    - name: Test with tox
      run: tox

# Matrix configuration
matrix:
  include:
    - python: 3.8
      env: TOXENV=pep8
    - python: 3.8
      env: TOXENV=placement
    - python: pypy-3.6
      env: TOXENV=pypy-3.6
    - python: 3.8
      env: TOXENV=py38
    - python: 3.8
      env: TOXENV=py38
    - python: 3.8
      env: TOXENV=py38
    - python: 3.8
      env: TOXENV=py38
    - python: 3.8
      env: TOXENV=py38-pytest
    - python: 3.8
      env: TOXENV=py38-pytest
    - python: 3.8
      env: TOXENV=py38-pytest
    - python: 3.8
      env: TOXENV=py38-failskip
    - python: 3.8
      env: TOXENV=py38-limit
    - python: 3.8
      env: TOXENV=py38-prefix
