name: Python package

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U 'setuptools>=18.5' 'pip>=6.0' 'wheel'
        pip install -e .
    - name: Test with pytest
      run: |
        python runtests.py

    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U 'setuptools>=18.5' 'pip>=6.0' 'wheel'
        pip install -e .
    - name: Test with pytest
      run: |
        python runtests.py

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U 'setuptools>=18.5' 'pip>=6.0' 'wheel'
        pip install -e .
    - name: Test with pytest
      run: |
        python runtests.py

    - name: Set up Python pypy-3.6
      uses: actions/setup-python@v2
      with:
        python-version: pypy-3.6
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U 'setuptools>=18.5' 'pip>=6.0' 'wheel'
        pip install -e .
    - name: Test with pytest
      run: |
        python runtests.py
