name: Python package

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox codecov
    - name: Test with tox
      run: tox -e ${{ matrix.toxenv }}
    - name: Report coverage
      run: tox -e coverage-report
    - name: Upload coverage to Codecov
      run: codecov

# matrix is not supported in GitHub Actions, so we need to define the environments manually
env:
  TOXENV:
    - py38
    - py38
    - py38
    - py38
    - py39
