name: Python package

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.8, 3.8, 3.8, 3.8, 3.8, pypy-3.6]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install coverage
    - name: Test with nose
      run: |
        coverage run --source=olefile -m nose tests
    - name: Coverage report
      run: coverage report
    - name: Pyflakes and Pycodestyle
      run: |
        pip install pycodestyle pyflakes
        pyflakes .
        pycodestyle --statistics --count .
    - name: Coveralls
      run: |
        pip install coveralls
        coveralls
