name: Python package

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
        python-version: 3.8
        python-version: 3.8
        python-version: 3.8
        python-version: 3.8

    - name: Install dependencies
      run: make deps

    - name: Run tests
      run: make test

