name: Python application

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install peewee wtforms
    - name: Test with pytest
      run: |
        pytest runtests.py
    - name: Test with python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
      run: |
        python -m pip install --upgrade pip
        pip install peewee wtforms
        pytest runtests.py
    - name: Test with python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
      run: |
        python -m pip install --upgrade pip
        pip install peewee wtforms
        pytest runtests.py
