name: Python package

on: [push, pull_request]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-19.10, ubuntu-22.04]
        python: [3.8, 3.8, 3.8, 3.9, pypy-3.6]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install coverage
        pip install coveralls
    - name: Test with unittest
      run: |
        coverage run -m unittest discover -s lexpy/tests
        coverage report -i -m
        coveralls
