name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install codecov
        pip install -r requirements.txt
        pip install -r test-requirements.txt

    - name: Lint with flake8
      run: flake8 stockstats.py test.py

    - name: Test with pytest
      run: py.test --cov=./ test.py

    - name: Upload coverage to Codecov
      run: codecov

    - name: Send notification email
      uses: dawidd6/action-send-mail@v2
      with:
        server_address: smtp.163.com
        server_port: 465
        username: ${{ secrets.EMAIL_USERNAME }}
        password: ${{ secrets.EMAIL_PASSWORD }}
        subject: Build notification
        body: Build status: ${{ github.event.workflow_run.conclusion }}
        to: jealous@163.com
