name: Python package

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.8, 3.8, 3.8, 3.9]
        django-version: ['2.2', '3.0', '3.1', '3.2']
        arch: [x64]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
        architecture: ${{ matrix.arch }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox
    - name: Test with tox
      run: tox

- name: Build for ppc64le
  runs-on: ubuntu-latest
  strategy:
    matrix:
      python-version: [3.8, 3.8, 3.8, 3.9]
      django-version: ['2.2', '3.0', '3.1', '3.2']
      arch: [ppc64le]

  steps:
  - uses: actions/checkout@v2
  - name: Set up Python ${{ matrix.python-version }}
    uses: actions/setup-python@v2
    with:
      python-version: ${{ matrix.python-version }}
      architecture: ${{ matrix.arch }}
  - name: Install dependencies
    run: |
      python -m pip install --upgrade pip
      pip install tox
  - name: Test with tox
    run: tox
