name: Python package

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.8, 3.8, 3.8, 3.9, 3.8]
        matrix.include:
          - python-version: 3.9
          - python-version: 3.8
          - python-version: 3.8
          - python-version: 3.8
          - python-version: 3.8
          - python-version: 3.8
        fast_finish: true
        allow_failures:
          - python-version: 3.8

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        pip install .
    - name: Test with pytest
      run: |
        pytest

notifications:
  email: false
