name: Python package

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox
    - name: Test with tox
      run: tox -v

  matrix:
    python: [3.8, 3.8, 3.8, 3.8, 3.8, 3.8, 3.9]
    include:
      - python: 3.8
        env: TOXENV=py38
      - python: 3.8
        env: TOXENV=py38
      - python: 3.8
        env: TOXENV=py38
      - python: 3.8
        env: TOXENV=py38
      - python: 3.8
        env: TOXENV=py38
      - python: 3.8
        env: TOXENV=py38
      - python: 3.9
        env: TOXENV=py39
      - python: 3.8
        env: TOXENV=qa,doc
