name: Python CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.8, 3.8, 3.8, 3.8, 3.8, pypy, pypy-3.6]
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run tests
      run: pytest

# To run a specific version of cryptography, you can use the following step:
#    - name: Set up old cryptography
#      run: pip install cryptography==3.8.1

# To run the ci/travis.sh script, you can use the following step:
#    - name: Run script
#      run: ci/travis.sh

# To exclude branches, you can use the following step:
#    - name: Exclude branches
#      run: |
#        if [[ "${{ github.ref }}" =~ ^refs/heads/dependabot ]]; then
#          echo "Dependabot branch detected, skipping tests."
#          exit 0
#        fi
