name: Python package

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8, 3.8, 3.8, 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Test with nose and coveralls
      run: |
        if [ $(python -c "import sys; print(sys.version_info.minor)") -lt 7 ]; then
          nosetests
        else
          nosetests --with-coverage --cover-package=discogs_client
        fi
        coveralls
